<div class="category-wrapper">
  <h2 class="category-title" data-swiper-parallax="-200">
    {{#link-to 'category' category.alias}}
    {{category.title}}
    {{/link-to}}
  </h2>

  <div class="description" data-swiper-parallax="-500">
    {{{slice description 100}}}
  </div>
</div>


<div class="products" data-swiper-parallax="300">
  {{#each category.products as |product|}}
    {{product-slide product=product image=product.images.firstObject}}
  {{/each}}
</div>
