<div class="category-wrapper">
  <h2 class="category-title" data-swiper-parallax="-200">
    {{category.title}}
  </h2>

  <div class="description" data-swiper-parallax="-500">
    {{{slice description 100}}}
  </div>
</div>


{{#swiper-container class="products"
  options=(hash
      effect='slide'
      auto=5000
      nested=true
      slidesPerView=1
  )}}
  {{#each category.products as |product|}}
    {{product-slide product=product}}
  {{/each}}
{{/swiper-container}}
