<h3>
  {{link-to product.title 'product' product.id}}
</h3>

<div class="images-wrapper">
  {{#each product.images as |image|}}
    <div class="image-wrapper">
      {{#link-to 'product' product.id}}
      <img src="{{image.url}}" class="pure-img" alt="">
      {{/link-to}}
    </div>
  {{/each}}
</div>

{{yield}}

<div class="price price-wrapper">
  {{price product.price}}
</div>
