{{ember-notify closeAfter=4000}}
<div class="center-wrapper flex-wrapper">
  <div class="left-side">
    <div class="logo-wrapper">
      {{#link-to 'index' class="go-home"}}
        <span class="logo">
          {{t 'test.logo'}}
        </span>
      {{/link-to}}
    </div>
  </div>

  <div class="right-side">
    {{cart-block}}
  </div>

  {{#if isAuthenticated}}
  {{admin-menu}}
  {{/if}}
</div>
