<div class="center-wrapper">
  {{yield}}

  <nav class="footer-nav">
    {{link-to (t 'links.categories') 'categories'}}
    {{link-to (t 'links.products') 'products'}}
  </nav>

  {{t 'messages.made_with_love'}} 2017
</div>
