button {
  padding: .3em 1em;
  appearance: none;

  &.pure-button{
    padding: .6em 1.5em;
    background-color: $base;
    border: 1px solid darken($base, 20%);
    background-image: linear-gradient($base, darken($base, 10%));
    box-shadow: inset 0 2px 0 -1px lighten($base, 15%);
    text-shadow: 1px 1px 0 lighten($base, 20%);
    color: darken($base, 80%);

    &:hover {
      background-image: linear-gradient(darken($base, 10%), $base);
      box-shadow: inset 0 2px 0 -1px $base;
    }

    &:active {
      background-image: linear-gradient(darken($base, 20%), darken($base, 10%));
      box-shadow: inset 0 2px 0 -1px darken($base, 25%);
      box-shadow: none;
    }
  }

  &.pure-button-primary{
    background-color: $primary;
    border: 1px solid darken($primary, 20%);
    background-image: linear-gradient($primary, darken($primary, 10%));
    box-shadow: inset 0 2px 0 -1px lighten($primary, 15%);
    text-shadow: 1px 1px 0 darken($primary, 20%);
    color: lighten($primary, 60%);

    &:hover {
      background-image: linear-gradient(darken($primary, 10%), $primary);
      box-shadow: inset 0 2px 0 -1px $primary;
    }

    &:active {
      background-image: linear-gradient(darken($primary, 20%), darken($primary, 10%));
      box-shadow: inset 0 2px 0 -1px darken($primary, 25%);
      box-shadow: none;
    }
  }

  &.remove {
    background-color: $expressive;
    border: 1px solid darken($expressive, 20%);
    background-image: linear-gradient($expressive, darken($expressive, 10%));
    box-shadow: inset 0 2px 0 -1px lighten($expressive, 15%);
    text-shadow: 1px 1px 0 darken($expressive, 20%);
    color: lighten($expressive, 60%);

    &:hover {
      background-image: linear-gradient(darken($expressive, 10%), $expressive);
      box-shadow: inset 0 2px 0 -1px $expressive;
    }

    &:active {
      background-image: linear-gradient(darken($expressive, 20%), darken($expressive, 10%));
      box-shadow: inset 0 2px 0 -1px darken($expressive, 25%);
      box-shadow: none;
    }
  }

  &.full-width {
    width: 100%;
  }
}
