html, body{
  height: 100%;
}

body > .ember-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center-wrapper{
  @include center-wrapper;
}

header {
  flex-shrink: 0;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ms(-1) ms(1);
    flex-wrap: wrap;
  }

  .logo {
    display: inline-block;
    height: 50px;
    width: 50px;
  }

  @include sm() {
    .flex-wrapper {
      padding: ms(1);
    }

    .logo {
      height: 100px;
      width: 100px;
    }
  }
}

.admin-menu {
  flex-basis: 100%;
}

.cart-wrapper {
  @include sm() {

  }
}

.page-content-wrapper {
  flex-grow: 2;
}

footer {
  flex-shrink: 0;
}

// =============================================================================
// ================================================================ Index swiper
// =============================================================================

@include sm {
  .categories {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .swiper-container,
    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }
  }
}

// =============================================================================
// =============================================================== Products list
// =============================================================================

.products-list-main {
  @include sm() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product-block {
      flex-basis: 48%;
      flex-grow: 0;
      flex-shrink: 1;
    }

    @include md() {
      .product-block {
        flex-basis: 31%;

        &:nth-child(n + 2):last-child {
          margin-right: 34.5%;
        }
      }
    }

  }
}

.category-products {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-block {
      flex-basis: 100%;
      // flex-grow: 1;
    }

    @include sm {
      .product-block {
        flex-basis: 49%;
      }
    }

    @include md {
     .product-block {
        flex-basis: 32%;
      }
    }
  }
}

// =============================================================================
// ================================================================== Index page
// =============================================================================

.categories {
  .products {
    width: 100%;
    overflow: hidden;

    .product {
      flex-basis: 100%;
      flex-shrink: 0;

      @include sm {
        flex-basis: 50%;
      }

      @include md {
        flex-basis: 33.333%;
      }
    }
  }
}
