html, body{
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family-text;
  // font-family: $font-family-display;
  color: $black;
}

a {
  color: $bouquet;

  &:hover {
    text-decoration: none;
  }
}

header {
  background-color: #3e3;

  .cart-wrapper,
  .logo-wrapper {
    text-align: center;
  }

  .cart-wrapper {
    position: relative;
    z-index: 2;
    margin: ms(1) 0 ms(-1);
  }

  .cart-label {
    padding: ms(-2) ms(-1);
    background-color: $white;
    position: relative;
    z-index: 11;
  }

  .cart-content {
    text-align: left;
    background-color: $white;
  }

  .products-list {
    padding: 0;
    margin: 0;

    li {
      padding: ms(-2) ms(-1);
      display: block;
    }
  }

  .total-wrapper {
    border-top: 1px dotted $iron;
    padding: ms(-2) ms(-1);
  }

  .logo-wrapper {
    padding: ms(1) 0 0;
  }

  @include sm() {
    .left-side {
      float: left;
    }

    .right-side {
      float: right;
    }

    .cart-label {
      border: 1px solid $iron;
      z-index: 2;
    }

    .cart-is-open .cart-label {
      border-bottom-color: $white;
    }

    .cart-wrapper {
      padding: ms(3) 0 0;
      margin: 0;
    }

    .cart-content {
      position: absolute;
      top: 100%;
      margin-top: -1px;
      right: 0;
      width: 200px;
      border: 1px solid $iron;
      padding: ms(-2);

    }
  }
}

.go-home {
  display: inline-block;
}

.logo {
  display: inline-block;
  height: 100px;
  width: 100px;
}

footer {
  background-color: $wafer;
  padding: ms(1) 0;
}

.clearfix{
  @include clearfix;
}

// =============================================================================

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  line-height: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: ms(4);
}

h2 {
  font-size: ms(3);
}

h3 {
  font-size: ms(2);
}

h4 {
  font-size: ms(1);
}

h5 {
  font-size: ms(-1);
}

h6 {
  font-size: ms(-2);
}

// =============================================================================

.page-content-wrapper{
  position: relative;
}

.content-wrapper{
  margin-top: 40px;
  margin-bottom: 40px;
}

// =============================================================================

.images-wrapper {
  &.full-width {
    max-height:  500px;
    overflow: hidden;

    img {
      width: 100%;
      max-height: 100%;
    }
  }
}

.price {

  &.product-price{
    color: $button-primary;
    font-size: ms(2);
    margin: ms(1) 0;
  }
}

// =============================================================================
// ================================================================= Manage side
// =============================================================================

textarea.editor {
  width: 100%;
  height: 200px;
}

.block-manager {
  margin: ms(1) 0;

  &:first-child {
    margin-top: 0;
  }
}

.pure-control-group {
  margin: ms(-1) 0;
}

// =============================================================================
// ================================================================== Index page
// =============================================================================

.categories {
  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  h2.category-title {
    margin: ms(6, 16px) 0 0 ms(2, 16px);
    background-color: $white;
    display: inline-block;
    padding: 5px ;
  }

  .description {
    margin: ms(1, 16px) 0 ms(2, 16px) ms(2, 16px);

    p {
      padding: 5px ;
      background-color: $white;
      display: inline;

      @include clearfix;
    }
  }

  .products {
    .product {
      position: relative;
      height: 200px;
    }

    .image-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    h2,
    .description {
      position: relative;
      z-index: 2;
    }
  }
}
