@mixin clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// =========================================================== Responsive mixins

@mixin ssm(){
  @media screen and (min-width: 18em) {
    @content;
  }
}

@mixin sm(){
  @media screen and (min-width: 35.5em) {
    @content;
  }
}

@mixin md(){
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin lg(){
  @media screen and (min-width: 64em) {
    @content;
  }
}


@mixin size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $height: nth($size, 2);
  }

  @if $height == auto or (type-of($height) == number and not unitless($height)) {
    height: $height;
  }

  @if $width == auto or (type-of($height) == number and not unitless($width)) {
    width: $width;
  }
}
