// ===================================================================== Colours

$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$nebula: #d2e1dd;
$white: #fff;
$black: #000;
$red: #f00;
$dawn-pink: #f2ece4;
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;

$eden: #11435a;
$burnt-sienna: #ef6554;
$fountain-blue: #5a9ec0;
$westar: #e0dcd8;
$regent-grey: #8296a3;
$casper: #b1c4d0;

// =============================================================== Font Families

$font-family-text: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-display: source-serif-pro, Georgia, "Times New Roman", Times, serif;
$font-family-code: source-code-pro, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// =============================================================================

$button-primary: $burnt-sienna;
$button-base: $fountain-blue;
$button-expressive: $red;
$button-add-to-cart: #e47051;

$font-size: 16px;
$line-height: 24px;


