.image-drop-area {
  min-height: 100px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid darken(#f2f2f2, 10%);
  margin: 1em 0;
  text-align: center;

  p {
    color: darken(#f2f2f2, 20%);
    font-size: 0.85em;
  }

  .image-wrapper{
    margin-bottom: 1em;
    position: relative;
    text-align: center;

    .pure-img {
      display: inline-block;
    }
  }
}
