<div class="categories">
  {{#swiper-container class="images-wrapper categories full-width"
    options=(hash
        effect='slide'
        parallax=true
    )
  }}
    {{#each model.categories as |category|}}
        {{category-slide category=category}}
    {{/each}}
  {{/swiper-container}}
</div>
