<div class="center-wrapper">
  {{#swiper-container class="categories full-width"
    options=(hash
        effect='slide'
        parallax=true
        slidesPerView=1
    )
  }}
    {{#each model.categories as |category|}}
        {{category-slide category=category}}
    {{/each}}
  {{/swiper-container}}
</div>

